@font-face {
    font-family: "Aileron";
    src: url(../assets/fonts/Ailerons-Typeface.otf);
}

@font-face {
    font-family: "Timeburner";
    src: url(../assets/fonts/timeburnernormal.ttf);
}

@font-face {
    font-family: "TimeburnerBold";
    src: url(../assets/fonts/timeburnerbold.ttf);
}