* {
    overflow: hidden;
}

.home {
    width: 100%;
    height: 100%;

    & div.header {
        height: 100vh;
        text-align: center;

        & h1.bigLogo {
            padding-top: 25vh;
            font-family: Aileron;
            font-size: 6rem;
            margin-bottom: 0;
        }

        & h2.slogan {
            font-family: TimeburnerBold;
            margin-top: 0;
            font-size: 1.5rem;
        }
    }


}