* {
    overflow: hidden;
}


//Header
.home {
    width: 100%;
    height: 100%;
    background: black;
}

.header {
    width: 100%;
    height: auto;
    position: fixed;
    text-align: center;
}

.bigLogo {
    padding-top: 25vh;
    font-family: Aileron, sans-serif;
    font-size: 6rem;
    margin-bottom: 0;
}

.slogan {
    font-family: TimeburnerBold, sans-serif;
    margin-top: 0;
    font-size: 1.5rem;
}

.vid {
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: -1;
    filter: blur(4px);
}

//Content
.content {

}